# Paths To Datasets And Evaluation

path_train : ../../data/ace/train.data
path_dev : ../../data/ace/dev.data

path_test : ../../data/litbank/test.data

path_eval_result : ../evaluation/

# Dataset Format
tag_scheme : iob

# Early Stopping
early_stopping_eps : 0
early_stopping : 5

# Model Settings
epoch : 50
replace_digit : true
lowercase : false
use_singletons : true

# Using Pretrained Embeddings
path_pre_emb : wikipedia200.txt

# Network Structure
word_embedding_dim : 200
char_embedding_dim : 28
tag_embedding_dim : 5
batch_size : 91

# Hyperparameters
dropout_ratio : 0.17
lr_param : 0.00426
threshold : 11
decay_rate : 0.0000943

# For Training and Tuning
gpus : {'main': 0}
mode : 'test'
mappings_path : ../ace_model/ace_mappings.pkl

# Evaluation
# path_model is the last model saved during training
path_model : ../ace_model/model_iter_972
script_folder : ../script/
result_folder : ../ace_model/

predictions_path : ../../results/ace_lit.preds.txt

